@keyframes ldio-d4ilt76qla9 {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.5,1.5);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-d4ilt76qla9 div > div {
    position: absolute;
    width: 14.299999999999999px;
    height: 14.299999999999999px;
    border-radius: 50%;
    background: #681dde;
    animation: ldio-d4ilt76qla9 0.970873786407767s linear infinite;
  }.ldio-d4ilt76qla9 div:nth-child(1) > div {
    left: 101.5px;
    top: 64.5px;
    animation-delay: -0.8321775312066574s;
  }
  .ldio-d4ilt76qla9 > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 108.64999999999999px 71.64999999999999px;
  }.ldio-d4ilt76qla9 div:nth-child(2) > div {
    left: 87.5px;
    top: 93.5px;
    animation-delay: -0.6934812760055479s;
  }
  .ldio-d4ilt76qla9 > div:nth-child(2) {
    transform: rotate(51.42857142857143deg);
    transform-origin: 94.64999999999999px 100.64999999999999px;
  }.ldio-d4ilt76qla9 div:nth-child(3) > div {
    left: 56.5px;
    top: 100.5px;
    animation-delay: -0.5547850208044383s;
  }
  .ldio-d4ilt76qla9 > div:nth-child(3) {
    transform: rotate(102.85714285714286deg);
    transform-origin: 63.64999999999999px 107.64999999999999px;
  }.ldio-d4ilt76qla9 div:nth-child(4) > div {
    left: 30.5px;
    top: 80.5px;
    animation-delay: -0.4160887656033287s;
  }
  .ldio-d4ilt76qla9 > div:nth-child(4) {
    transform: rotate(154.28571428571428deg);
    transform-origin: 37.64999999999999px 87.64999999999999px;
  }.ldio-d4ilt76qla9 div:nth-child(5) > div {
    left: 30.5px;
    top: 48.5px;
    animation-delay: -0.27739251040221913s;
  }
  .ldio-d4ilt76qla9 > div:nth-child(5) {
    transform: rotate(205.71428571428572deg);
    transform-origin: 37.64999999999999px 55.64999999999999px;
  }.ldio-d4ilt76qla9 div:nth-child(6) > div {
    left: 56.5px;
    top: 28.5px;
    animation-delay: -0.13869625520110956s;
  }
  .ldio-d4ilt76qla9 > div:nth-child(6) {
    transform: rotate(257.14285714285717deg);
    transform-origin: 63.64999999999999px 35.64999999999999px;
  }.ldio-d4ilt76qla9 div:nth-child(7) > div {
    left: 87.5px;
    top: 35.5px;
    animation-delay: 0s;
  }
  .ldio-d4ilt76qla9 > div:nth-child(7) {
    transform: rotate(308.57142857142856deg);
    transform-origin: 94.64999999999999px 42.64999999999999px;
  }
  .loadingio-spinner-spin-oz2t30quqcm {
    width: 143px;
    height: 143px;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-d4ilt76qla9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; 
  }
  .ldio-d4ilt76qla9 div { box-sizing: content-box; }
